body {
  margin: 0;
}
header {
  background-color: #78866b;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 200px 15px;
  
}


.content {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #78866b;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
background-color: #3d4a42;
border: 2px solid #373738;
}
footer {
  background-color: #78866b;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
